{% extends 'base2.html'%} {% block title %} Gallery {% endblock %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename='navbar/navbar.css') }}>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href={{ url_for('static', filename='dashboard_extension/dashboard.css') }}>

<div class="text-center"><h1>Welcome to FLIPP Gallery!</h1></div>
<div class="text-center"><p><i>Upload any pictures in relation to the org here using the Upload New Picture link.</i></p></div>

 <a class="one" href="{{ url_for('upload_picture') }}">Upload New Picture</a>


{% endblock %}