{% extends 'base2.html'%} {% block title %} Home {% endblock %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename='home/home.css') }}>




<div class="announcements">
  <table>
    <tr>
      <th>LATEST ANNOUNCEMENTS</th>
    </tr>
    <tr>
      <a href = "#"><td>InAf Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>ExAf Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>ReDoMa Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>TrePod Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>Older Topics/Others</td></a>
    </tr>
  </table>
</div>


{% endblock %}