{% extends 'base.html'%}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="pt-5"></div>
<h1 class="text-left">Welcome to the Login Page</h1>
<div class="container center-block">
  <div class="col-md-5 mx-auto">
    <div class="card card-body">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label>Student ID:</label>
        {{ form.studentid }}
        <br><p></p>
        <label>Password:</label>
        {{ form.password }}
          <br><p></p>
        {{ form.submit (class="btn btn-primary") }}
    </form>
    </div>
  </div>  
</div>


<p></p>
<a href="{{ url_for('register')}}">Don't have an account? Sign Up</a>


{% endblock %}